<app-header></app-header>

<div class="container">
  <div class="tarefas-container">
    <div class="tarefas">
      <h3>A fazer</h3>

      <div class="form-tarefa">
        <form [formGroup]="formTarefa" (ngSubmit)="adicionarTarefa()">
          <input type="text" placeholder="Digite a tarefa" formControlName="descricao"
            [ngClass]="{ 'campo-invalido': descricao.invalid && descricao.touched }" />

          <button type="submit">Salvar</button>
          <div *ngIf="descricao?.invalid && descricao?.touched" class="erro-validacao">
            <p *ngIf="descricao?.errors?.['required']">Campo obrigatório.</p>
            <p *ngIf="descricao?.errors?.['minlength']">Mínimo 3 caracteres.</p>
            <p *ngIf="descricao?.errors?.['maxlength']">Máximo 10 caracteres.</p>
          </div>

        </form>
      </div>

      <div *ngFor="let tarefa of tarefas; let i = index" class="tarefa">
        <app-tarefa 
          [tarefa]="tarefa" 
          (removerTarefa)="removerTarefa(tarefa.id!)"
          (editarTarefa)="editarTarefa($event)"
        ></app-tarefa>
      </div>
      <div class="aviso-tarefas">
        <p class="aviso-tarefa" *ngIf="tarefas.length === 0">Nenhuma tarefa cadastrada.</p>
        <span class="aviso-tarefa" *ngIf="tarefas.length > 0">{{ tarefas.length }} tarefa<span *ngIf="tarefas.length != 1">s</span>.</span>
        <span class="aviso-tarefa" *ngIf="tarefas.length > 0">{{ tarefasConcluidas }} tarefa<span *ngIf="tarefasConcluidas != 1">s</span> concluída<span *ngIf="tarefasConcluidas > 1">s</span>.</span>
      </div>
    </div>
  </div>
</div>