.tarefa {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tarefa-conteudo {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #94e685;
}

input[type="text"] {
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 2px
}


.concluida {
    text-decoration: line-through;
    color: #999;
}

button {
    text-decoration: none;
    border: none;
    background: none;
}

.botoes {
    display: flex;
    gap: 6px;
}